<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Smart remover</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/smart_rm.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Smart remover</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Page 2</a></li>
          {% if user.is_authenticated %}
            <li>
                <a href="{% url 'bucket_new' %}" >Add bucket <span class="glyphicon glyphicon-plus"></span></a>
                <!--class="top-menu"-->
            </li>
        {% endif %}
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->

          <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
        <!--</ul>-->
      </div>
    </nav>
    <div class="page-header">
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>