<!DOCTYPE html>
{% extends 'smart_rm/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="bucket">
            <!--{% if bucket.published_date %}-->
                <!--<div class="date">-->
                    <!--{{ bucket.published_date }}-->
                <!--</div>-->
            <!--{% endif %}-->
            <a class="btn btn-default" href="{% url 'bucket_edit' pk=bucket.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h1>{{ bucket.dir }}</h1>
            <!--<p>{{ bucket.text|linebreaksbr }}</p>-->
            <form class="form-horizontal" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="new_path" class="col-sm-2 control-label">Path</label>
                    <div class="col-sm-10">
                      <input type=text class="form-control" name="path" id="new_path">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="{% url 'add' pk=bucket.pk%}" >
                            <!--path=new_path.text -->
                        <button type="submit" class="btn btn-submit">Replace to bucket</button>
                        </a>
                    </div>
                </div>
            </form>
            <!--<input class="btn btn-default" type="button" value="Input">-->
            <!--<ul>-->

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <!--<th>Index</th>-->
                        <th>Old path</th>
                    <!--<th>Index</th>-->
                        <th>Size</th>
                        <th>Deletion time</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for item in bucket_items %}
                    <tr>
                        <!--<td>{{ item.index }}</td>&ndash;&gt;-->
                        <td>{{ item.old_path }}</td>
                        <td>{{ item.size_in_bytes }}</td>
                        <td>{{ item.deletion_date }}</td>
                        <td>
                            <form method="post" action="{% url 'clear' pk=bucket.pk index=item.index %}">{% csrf_token %}
                                <!--<a href="{% url 'clear' pk=bucket.pk index=item.index %}">-->
                                    <button type="submit" class="btn btn-submit">Clear</button>
                                <!--</a>-->
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'restore' pk=bucket.pk index=item.index %}">{% csrf_token %}
                            <!--<a href="{% url 'restore' pk=bucket.pk index=item.index %}">-->
                                <button type="submit" class="btn btn-submit">Restore</button>
                            </form>
                        </td>
                    <!--<p>{{ item }}</p>-->
                    </tr>
                    {% endfor %}

                </table>
            </div>
            <!--</ul>-->

        </div>
    {% endblock %}
</body>
</html>