<!DOCTYPE html>
{% extends 'smart_rm/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <h1>New bucket</h1>
        <form method="POST" class="bucket-form">{% csrf_token %}

            {{ bucket_form.as_p }}
            {{ policy_form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endblock %}
</body>
</html>