{% extends 'smart_rm/base.html' %}

{% block content %}
    {% for bucket in buckets %}
        <div class="bucket">
            <!--<div class="date">-->
                <!--{{ bucket.published_date }}-->
            <!--</div>-->
             <h1><a href="{% url 'bucket_detail' pk=bucket.pk %}">{{ bucket.dir }}</a></h1>
            <p>{{ bucket.max_size_in_bytes }}</p>
            <!--<p>{{ bucket.text|linebreaksbr }}</p>-->
        </div>
    {% endfor %}
{% endblock content %}